---
const { association } = Astro.props
const currentPath = Astro.url.pathname
const store = import.meta.env.MEDIA_STORE

---

{ association?.image ?
<div class={currentPath === '/' ? 'banner home-banner' : 'banner'}>
  <img src={`${store}/${association?.image?.filename}`} alt="Bandeau du site">
  <div class={currentPath === '/' ? 'overlay' : 'overlay-other'}>
    <h1>{association?.title}</h1>
    <h2>{association?.subtitle}</h2>
    <a href="#content">
      <button class="scroll-button">Découvrir</button>
    </a>
  </div>
</div> : null}

<style>
    /* Bandeau */
    .banner {
        position: relative;
        width: 100%;
        height: var(--size-12);
        overflow: hidden;
    }

    .home-banner {
        height: 100vh;
        width: 100%;
    }

    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        color: var(--gray-9);
    }

    .overlay-other {
        display: none;
    }

    .banner h1 {
        color: white;
        font-size: var(--font-size-6);
    }

    .scroll-button {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        padding: var(--size-3) var(--size-5);
        font-size: var(--font-size-3);
        background: var(--blue-6);
        color: white;
        border: none;
        border-radius: var(--radius-2);
        cursor: pointer;
        transition: background 0.3s ease, transform 0.3s ease;
    }

    .scroll-button:hover {
        background: var(--blue-8);
        transform: translateX(-50%) scale(1.05);
    }

</style>