---
export const prerender = false
import type { Association } from '../types'
import { fetchAssociation } from '../fetch'
import Footer from '../components/Footer.astro'
import Banner from '../components/Banner.astro'
import Menu from '../components/Menu.astro'
import GlobalStyles from '../components/GlobalStyles.astro'
const association: Association | null = await fetchAssociation()
---


<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="generator" content={Astro.generator} />
  <title>APCM</title>

</head>
<body>
<GlobalStyles />

<div class="header-container">
  <Menu association={association} />
  <Banner association={association} />
</div>


<div class="page-container">
  <header>
  </header>
  <main class="content">
    <slot />
  </main>

  <Footer association={association} />
</div>

</body>