---
import Layout from '../layouts/Layout.astro'
import { fetchAssociation } from '../fetch'
import type { Association } from '../types'
export const prerender = false
const association: Association | null = await fetchAssociation()
const store = import.meta.env.MEDIA_STORE
---

<Layout association={association}>

  <main id="content">

    <div set:html={association?.description_html}></div>

  </main>


</Layout>
