---
import type { Association } from '../types'
export const prerender = false;

import Layout from '../layouts/Layout.astro'
import { fetchAssociation } from '../fetch'
const association: Association | null = await fetchAssociation()
---

<Layout>
  <div set:html={association?.mentions_html}></div>
</Layout>